

 *{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
 }

h1{
    font-size: 3rem;
}

h3{
    font-size: 2rem;
}

p{
    letter-spacing: 1px;
    line-height: 25px;
    opacity: 0.7;
}

h1,h2,h3,h4,h5,h6{
    font-family: serif;
}

img{
    max-width: 100%;
}

.top-head-info{
    padding: 5rem 0rem 5rem 0rem;
}

.hero-wrapper{
   text-align: center;
   padding: 0 20rem;
}

 .top-head-info, main.wrapper{
    text-align: justify;
 }

 .top-container-wrapper,.bottom-container-wrapper{
    display: flex;
  }

  
  .grid-container{
    width: 85%;
    background-color: rgba(214, 207, 207, 0.192);
  }

  .grid-container article{
      align-items: center;
    //   border: 1px solid red;
    //   position: absolute;
    //   top: 60%;
    //   left: 30%;
    //   transform: translate(-50%, -30%);
    //   max-width: 450px;
  }

  .grid-container article p{
      margin: 0.5rem 0;
  }

  .grid-box{
    background-color: mediumblue;
    width: 100%;
    height: 100%;
  }

 .container-wrapper{
    display: grid;
    width: 100%;
    grid-gap: 10px;
 }

 .container-wrapper > div{
    min-height: 100%;
 }

//  .container-wrapper .one{
//     background:LightSalmon;
//  }

//  .container-wrapper .two{
//     background:LightSkyBlue;
//  }

 .container-wrapper .three{
     grid-column: 3 / 5;
     grid-row: 1 / 3;
    //  background:PaleTurquoise;
 }

//  .container-wrapper .four{
//      background-color: rgb(216, 245, 149);
//  }

//  .container-wrapper .five{
//      background-color: rgb(240, 101, 101);
//  }
 
 .container-wrapper-down{
     display: grid;
     grid-template-columns: auto auto;
     grid-gap: 15px;

 }

//  .container-wrapper-down .bottom-one{
//      background:LightPink;
//  }

//  .container-wrapper-down .bottom-two{
//      background:PaleGreen;
//  }

 .btn-wrapper{
     text-align: center;
     margin: 0.5rem 0;
 }

 .grid-container button{
     padding: 0.85rem 1.5rem;
     margin: 0.2rem 0;
     background-color: rgb(62, 253, 180);
     border: 0;
     font-size: 1rem;
    }

 .btn-wrapper button{
     padding: 0.5rem 3.5rem;
 }

 .grid-container button a,
 .btn-wrapper button a{
     text-decoration: none;
     color: rgba(0, 0, 0, 0.904);
     font-weight: bold;
 }



/* Responsiveness **/
@media only screen and (max-width: 1650px){
    .hero-wrapper{
        padding: 0 5rem;
    }
}

@media only screen and (max-width: 600px){
    .hero-wrapper{
        padding: 0 1.5rem;
    }
}

@media only screen and (max-width: 767px){
    .bottom-container-wrapper,
    .top-container-wrapper{
        flex-wrap: wrap;
    }

    .grid-container{
        width: 100%;
    }
}


// Article Wrapper Only
@media only screen and (min-width: 1650px){
    .grid-container article{
        border: 1px solid red;
        position: absolute;
        top:55%;
        left: 30%;
        transform: translate(-50%, -30%);
        max-width: 450px;
    }
}
